body {
    background-color: #3b4b86;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e9e9e9;
}

#game-container {
    position: relative;
    background: #afc0d4;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
    min-width: 820px;
}

canvas {
    background: #afc0d4;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.ui {
    margin-top: 25px;
    text-align: center;
}

#status {
    font-size: 22px;
    margin-bottom: 10px;
    color: #4ecca3;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 30px;
}

button {
    background: #e94560;
    border: none;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #ff4d6d;
    transform: scale(1.05);
}